* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navlist {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #eeeef5;
  color: #454545;
}

li {
  padding: 16px 40px 12px 40px;
  background-color: #c9deff;
  color: rgb(25, 25, 25);
  font-family: monospace;
  text-decoration: none;
  font-size: 16px;
}

body {
  text-align: center;
  margin-bottom: 10px;
}

button {
  padding: 16px 40px 12px 40px;
  margin: 0 20px 20px 20px;
  background-color: #c9deff;
  color: rgb(25, 25, 25);
  font-family: monospace;
  text-decoration: none;
  font-size: 16px;
  border: 0;
}
